<html>

<body bgcolor="#cdc0b0" text="black" link="white" alink="gainsboro" vlink="white">

<!-- Ends the date place (this wasn't a table) -->

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td>

<!-- A title bar should go here ... -->
<td width="100%">
<table bgcolor="black" width="100%" cellspacing="8" cellpadding="0"  border="0">
<tr><td>
<table bgcolor="white" width="100%" cellspacing="2" cellpadding="10" border="0">
<td align="center" valign="top">

<b>
<font face="helvetica,courier">
· Aplicacion Web AcortaURLS · &nbsp;&nbsp;&nbsp;
</b>
</font>
</td></table>
	</tr></td></table></td>
<!-- Ends the title blockz -->
</tr></td></table>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>

<p>&nbsp;</p>

<!-- Navigation bar -->

<!-- The label goes here -->
<td width="0%" valign="top">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td valign="top">
<table width="*%" cellspacing="0" cellpadding="4" border="0">
<tr><td bgcolor="black" align="center">

  <font face="smooth,shine" color="white">

  E<br>
  N<br>
  L<br>
  A<br>
  C<br>
  E<br>
  S<br>

  </font>

	</tr></td></table>
	</td></table>
<!-- Ends the label -->

<td width="0%" valign="top">
<table  width="50%" cellspacing="0" cellpadding="0" border="0">
<tr><td>
<table  width="50%" cellspacing="0" cellpadding="0" border="0">
<td align="center" valign="top">

<b>
<font face="helvetica,courier"> Esta es tu url acortada &nbsp;&nbsp;&nbsp; <a href= {{ url_acortada}}>URL acortada</a></font><br>
</b><br>
<b>
<font face="helvetica,courier"> Esta es tu url real &nbsp;&nbsp;&nbsp; <a href= {{ url_real}}>URL real</a></font><br>
</b>

	</td></table></td></tr></td>
	</tr></td></table>

</body><html>
