<html>

<body bgcolor="#cdc0b0" text="black" link="white" alink="gainsboro" vlink="white">

<!-- Ends the date place (this wasn't a table) -->

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td>

<!-- A title bar should go here ... -->
<td width="100%">
<table bgcolor="black" width="100%" cellspacing="8" cellpadding="0"  border="0">
<tr><td>
<table bgcolor="white" width="100%" cellspacing="2" cellpadding="10" border="0">
<td align="center" valign="top">

<b>
<font face="helvetica,courier">
· Aplicacion Web AcortaURLS · &nbsp;&nbsp;&nbsp;
</b>
</font>
</td></table>
	</tr></td></table></td>
<!-- Ends the title blockz -->
</tr></td></table>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>

<p>&nbsp;</p>

<!-- Navigation bar -->

<!-- The label goes here -->
<td width="0%" valign="top">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td valign="top">
<table width="*%" cellspacing="0" cellpadding="4" border="0">
<tr><td bgcolor="black" align="center">

<font face="smooth,shine" color="white">

n<br>
a<br>
v<br>
i<br>
g<br>
a<br>
t<br>
i<br>
o<br>
n<br><br>
B<br>
a<br>
r<br>

</font>
	</tr></td></table>
	</td></table>
<!-- Ends the label -->

<td width="50%" valign="top">
<table  width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td>
<table  width="100%" cellspacing="0" cellpadding="0" border="0">
<td align="center" valign="top">

<font face="helvetica,courier">
<b>

<a href="index.html">[Projects]</a></p>
<a href="index.html">[Download]</a></p>
<a href="index.html">[Known.bugs]</a></p>
<a href="index.html">[Screenshots]</a></p>
<a href="index.html">[Contact.me]</a></p>
<a href="index.html">[Creditz]</a></p>

</font>
</b>
	</td></table></td></tr></td>
	</tr></td></table>
<!-- Ends the navigation bar -->

<!-- The links block -->
<td width="50%" valign="top">
<table  width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<td align="center" valign="top">

<font face="helvetica,courier">
<b>

<a href="http://freshmeat.net">[Freshmeat.net]</a></p>
<a href="http://slashdot.org">[Slashdot.org]</a></p>
<a href="http://linux.com">[Linux.com]</a></p>
<a href="http://e.themes.org">[E.themes.org]</a></p>
<a href="http://gtk.themes.org">[Gtk.themes.org]</a></p>
<a href="http://artwiz.artramp.org">[ArtWiz]</a></p>

</font>
</b>
	</td></table></td>
	</tr></td></table>

<!-- The label goes here -->
<td width="0%" valign="top">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td valign="top">
<table width="*%" cellspacing="0" cellpadding="4" border="0">
<tr><td bgcolor="black" align="center">

<font face="smooth,shine" color="white">

l<br>
i<br>
n<br>
k<br>
s<br>

</font>
        </tr></td></table>
        </td></table>
<!-- Ends the label -->
	</tr></td></table>
	</tr></table>
</tr></td></tablE>
<!-- Ends the links block -->


<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>

<p>&nbsp;</p>

<!-- A white news table but first we'll add a label again :)-->
<td width="0%" valign="top">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td valign="top">
<table width="*%" cellspacing="0" cellpadding="4" border="0">
<tr><td bgcolor="black" align="center">

<font face="smooth,shine" color="white">

n<br>
e<br>
w<br>
s<br>

</font>
        </tr></td></table>
        </td></table>
<!-- The news table -->
<td width="100%" valign="top">
<table bgcolor="black" width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td>
<table bgcolor="gray" width="100%" cellspacing="2" cellpadding="10" border="0">
<td align="left" valign="top">

<font face="helvetica,courier">


<!-- Example news -->

<p align="center"><font color="gainsboro">:::>>>:::[17/10/00]:::<<<:::</font></p>

Clean design created as you can see it nothink special just 4 clean placed tables a very simple and clean design i hope the src-code is prety clean too :)</p>


<p align="center"><font color="gainsboro">:::>>>:::[15/10/00]:::<<<:::</p></font>

So today i design my old homepage again but this time for <a href="http://oswd.org">Oswd</a> yep i saw many persons uploading the designs of their old homepage so i recreate my old homepage with some improvements of course ... Also as you already saw i forgot the todays special new DAMN it was very special it could change our whole lifes ... damn anyway fuck it </p>
I also have moved my homepage at bizland.com take a link <a href="http://n0l0g1k.bizland.com">[here]</a> and if you folow this <a href="http://n0l0g1k.bizland.com/screenshots/shot-current.html">[link]</a> you'll always find one my lattest screenshot .</p>
0hhhh damn i change my email too this week :) well a lot of thinks have change anyway c ya later ... </p>


<p align="center"><font color="gainsboro">:::>>>:::[10/10/00]:::<<<:::</font></p>
Newspapper design created and uploaded at <a href="http://oswd.org">OSWD</a>. Like the other designs this one too has been tested under netscape only and NEVER on full screen -who's using a web-browser in full screen-. Also i think that now i'll start writing my site and i think that it will be ready in 1-2 days here's a <a href="http://n0l0g1k.bizland.com">link</a>.


<p align="center"><font color="gainsboro">:::>>>:::[5/10/00]:::<<<:::</font></p>
Freeze Design haz been made ...
Also i have upload my new Linux-b0x loGo so click <a href="http://n0l0g1k.bizland.com/logos/Linux-inside-Slackware7.jpg"> [here]</a>
to take a look. Basicly This is the Pentium 4 Logo with a
little modification.</p>


<p align="center"><font color="gainsboro">:::>>>:::[2/10/00]:::<<<:::</p></font>
Dark-place tempelate has been created

</font>
        </td></table>
                </tr></td></table>
                        </tr></table>
</tr></table>
<!--Ends the example news -->

<P>&nbsp;</p>

<!-- hey where are ya going your forgot to stick a cpright notice -->

<div align="right">
<font face="smooth,snap,drift">
<b>

::: ::: ::: your.name ::: ::: ::: &copy y2k ::: ::: :::
